
header {
	height: 93px;
	/*background-color: #d13328;*/
}

.row0 ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#007399;

}

.row0 li {
    float: left;
}

.row0 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.row0 li a:hover {
    background-color: #336699;
}

.heroimage {
	height: 630px;
  	background: url("../html960/1.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	margin-bottom: 2%;
  	padding-top: 100px; 
  	margin-left: auto;
  	margin-right: auto;
  }

 .heroimage1 {
	height: 630px;
  	background: url("../html960/2.jpg");
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
  	margin-bottom: 2%;
  	padding-top: 100px; 
  	margin-left: auto;
  	margin-right: auto;
  } 

 .heroimage h1{
 	font-style: italic;
 	background-color: #007399;
 	color: white;
 	margin-left: 55%;
 	margin-top: 15%;
 } 

 
 
.row {
	width: 960;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
}



.container_12 .grid_4{
	height: 533px;
	background-color: black;
}
.row4 .grid_8, .row4 .grid_4{
	margin-top: 2%;
	height: 500px;
	background-color: #f2f2f2;
}
.container_12 .alpha{
	background-image: url("../html960/9.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

.container_12 .middle{
	background-image: url("../html960/8.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 18px;
	margin-right: 18px;
}

.container_12 .omega{
	background-image: url("../html960/7.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.row4 .alpha{
	background-image: url("../html960/10.png");
	background-size: cover;
	margin-right: 20px;	
}

.row4 .pull_1{
	font-style: sans-serif;
	text-align: justify;
	font-size: 10px;
	word-spacing: 7px;
	padding: 0px 15px;
}

.row4 .pull_1 p {
	font-style: italic;
}

.container_12 .grid_6{
	height: 533px;
	background-color: black;
	margin-bottom: 2%;
}

.footer { 
	float: center; 
	margin-top:540px; 
	height:30px; 
	background-color: grey;
 }
.footer li {
	float:left; 
	list-style:none; 
	margin-left:5px;
}
.footer span { 
	float:left; 
	color:white; 
}

.foot
{
	margin-left: 50%;

}

.footer1 { 
	float: center; 
	/*margin-top:540px;*/ 
	height:30px; 
	background-color: grey;
 }
.footer1 li {
	float:left; 
	list-style:none; 
	margin-left:5px;
}
.footer1 span { 
	float:left; 
	color:white; 
}

.foot1
{
	margin-left: 50%;

}